<section class="mb-lg-14 mb-8 mt-8">
  <div class="container">
      <!-- fila -->
      <div class="row">
          <div class="col-12">
              <!-- tarjeta -->
              <div class="card py-1 border-0 mb-8">
                  <div>
                      <h1 class="fw-bold">Carrito de Compras</h1>
                      <p class="mb-0">Comprando en 382480</p>
                  </div>
              </div>
          </div>
      </div>
      <!-- fila -->
      <div class="row">
          <div class="col-lg-8 col-md-7">
              <div class="py-3">
                  <!-- alerta -->
                  <div class="alert alert-danger p-2" role="alert">
                      ¡Tienes envío GRATIS! Comienza
                      <a href="#!" class="alert-link">a pagar ahora</a>.
                  </div>

                  <ul class="list-group list-group-flush">
                    <li *ngFor="let item of carrito" class="list-group-item py-3 ps-0 border-top">
                      <div class="row align-items-center">
                        <div class="col-6 col-md-6 col-lg-7">
                          <div class="d-flex">
                            <img [src]="item.imagen_url" alt="Imagen del Producto" class="icon-shape icon-xxl" />
                            <div class="ms-3">
                              <a href="#!" class="text-inherit">
                                <h6 class="mb-0">{{ item.producto_nombre }}</h6>
                              </a>
                              <span><small class="text-muted">{{ item.unidad_medida }}</small></span>
                              <div class="mt-2 small lh-1">
                                <a href="#!" (click)="eliminarProducto(item)" class="text-decoration-none text-inherit">
                                  <span class="me-1 align-text-bottom">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                                      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                      class="feather feather-trash-2 text-success">
                                      <polyline points="3 6 5 6 21 6"></polyline>
                                      <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
                                      <line x1="10" y1="11" x2="10" y2="17"></line>
                                      <line x1="14" y1="11" x2="14" y2="17"></line>
                                    </svg>
                                  </span>
                                  <span class="text-muted">Eliminar</span>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-4 col-md-4 col-lg-3">
                          <div class="input-group input-spinner">
                            <input type="button" value="-" class="button-minus btn btn-sm" (click)="decrementarCantidad(item)" />
                            <input type="number" [(ngModel)]="item.cantidad_disponible" class="quantity-field form-control-sm form-input" [value]="1" readonly />
                            <input type="button" value="+" class="button-plus btn btn-sm" (click)="incrementarCantidad(item)" />
                          </div>
                        </div>
                        <div class="col-2 text-lg-end text-start text-md-end col-md-2">
                          <span class="fw-bold">{{ (item.precio * item.cantidad_disponible) | currency }}</span>
                        </div>
                      </div>
                    </li>
                  </ul>

                  <!-- botones -->
                  <div class="d-flex justify-content-between mt-4">
                      <a href="#!" class="btn btn-primary">Seguir Comprando</a>
                      <a href="#!" class="btn btn-dark">Actualizar Carrito</a>
                  </div>
              </div>
          </div>

          <!-- barra lateral -->
          <div class="col-12 col-lg-4 col-md-5">
              <!-- tarjeta -->
              <div class="mb-5 card mt-6">
                  <div class="card-body p-6">
                      <!-- encabezado -->
                      <h2 class="h5 mb-4">Resumen</h2>
                      <div class="card mb-2">
                          <!-- lista de grupo -->
                          <ul class="list-group list-group-flush">
                              <!-- ítem de lista -->
                              <li class="list-group-item d-flex justify-content-between align-items-start">
                                  <div class="me-auto">
                                      <div>Subtotal</div>
                                  </div>
                                  <span>{{ subtotal | currency }}</span>
                              </li>

                              <!-- ítem de lista -->
                              <li class="list-group-item d-flex justify-content-between align-items-start">
                                  <div class="me-auto">
                                      <div>Cargo por Servicio</div>
                                  </div>
                                  <span>{{ serviceFee | currency }}</span>
                              </li>

                          </ul>
                      </div>
                      <div class="d-grid mb-1 mt-4">
                          <!-- botón -->
                          <button class="btn btn-primary btn-lg d-flex justify-content-between align-items-center"
                          (click)="irACheckout()">
                    Ir a Pagar
                    <span class="fw-bold">{{ total | currency }}</span>
                  </button>
                      </div>
                      <!-- texto -->
                      <p>
                          <small>
                              Al realizar tu pedido, aceptas estar sujeto a los términos de servicio de Freshcart
                              <a href="#!">Términos del Servicio</a>
                              y
                              <a href="#!">Política de Privacidad.</a>
                          </small>
                      </p>

                      <!-- encabezado -->
                      <div class="mt-8">
                          <h2 class="h5 mb-3">Añadir Promoción o Tarjeta de Regalo</h2>
                          <form>
                              <div class="mb-2">
                                  <!-- entrada -->
                                  <label for="giftcard" class="form-label sr-only">Código</label>
                                  <input type="text" class="form-control" id="giftcard" placeholder="Promoción o Tarjeta de Regalo" />
                              </div>
                              <!-- botón -->
                              <div class="d-grid"><button type="submit" class="btn btn-outline-dark mb-1">Canjear</button></div>
                              <p class="text-muted mb-0"><small>Aplican Términos y Condiciones</small></p>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
